---
import { Image } from 'astro:assets';
import angular from "../../assets/tech/angular-icon.svg"
import javascript from "../../assets/tech/javascript.svg"
import node from "../../assets/tech/nodejs-icon.svg"
import typescript from "../../assets/tech/typescript-icon.svg"
import vue from "../../assets/tech/vue.svg"
import react from "../../assets/tech/react.svg"
import python from "../../assets/tech/python.svg"
import dart from "../../assets/tech/dart.svg"
import dotnet from "../../assets/tech/dotnet.svg"
import tailwindcss from "../../assets/tech/tailwindcss-icon.svg"
import git from "../../assets/tech/git-icon.svg"
import redis from "../../assets/tech/redis.svg"
import postgresql from "../../assets/tech/postgresql.svg"
---
<div class="flex flex-wrap mt-3 mb-5 gap-3 select-none">
    <img class="h-auto rounded-lg w-[3rem]" src={javascript.src} alt="javascript" />
    <img class="h-auto rounded-lg w-[3rem]" src={node.src} alt="node" />
    <img class="h-auto rounded-lg w-[3rem]" src={typescript.src} alt="typescript" />
    <img class="h-auto rounded-lg w-[3rem]" src={angular.src} alt="angular" />
    <img class="h-auto rounded-lg w-[3rem]" src={vue.src} alt="vue" />
    <img class="h-auto rounded-lg w-[3rem]" src={react.src} alt="react" />
    <img class="h-auto rounded-lg w-[3rem]" src={python.src} alt="python" />
    <img class="h-auto rounded-lg w-[3rem]" src={dart.src} alt="dart" />
    <img class="h-auto rounded-lg w-[3rem]" src={dotnet.src} alt="dotnet" />
    <img class="h-auto rounded-lg w-[3rem]" src={postgresql.src} alt="postgresql" />
    <img class="h-auto rounded-lg w-[3rem]" src={redis.src} alt="redis" />
    <img class="h-auto rounded-lg w-[3rem]" src={tailwindcss.src} alt="tailwindcss" />
    <!-- <img class="h-auto rounded-lg w-[3rem]" src={git.src} alt="git" /> -->
</div>

<style>
div img:hover{
    transition: all .2s;
    scale: 1.25;
    z-index: 100;
}
</style>